@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
}

/* Custom gradient animation */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animation {
  background: linear-gradient(
    270deg,
    rgba(74, 144, 226, 0.6),
    rgba(144, 19, 254, 0.6)
  ); /* Change colors as needed */
  background-size: 400% 400%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes sine-wave {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-sine-wave {
  animation: sine-wave 4s ease-in-out infinite alternate-reverse;
}

@keyframes sine-wave {
  0% {
    transform: translateY(-50px);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}

.animate-sine-wave-neg {
  animation: sine-wave 4s ease-in-out infinite alternate-reverse;
}
